
 #parent {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 351px;
        z-index: 999;
        /* background-color: black; */
    }

    #TopLayerImage {
        flex: 0 1 513px;
        width: inherit;
        background-color: pink;
        /* background: url('./Canis\ Ovleray\ Image.png'); */
    }

    #BottomLayer {
        flex: 1 1 0;
        width: inherit;
        /* position: absolute; */
        background-color: green;
    }