#parent {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 351px;
    z-index: 999;
    background-color: white;
}

#TopLayerImage {
    flex: 0 1 513px;
    background: url('./Images/canis\ overlay\ without\ Cart\ Button.png'); 
}

#TopLayerImage .WeiterShoppen {
    background-color: #A2BA24;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    width: 240px;
    left: 57px;
    top: 410px;
    border-radius: 30px;
}

#BottomLayer {
    flex: 0 1 55px;
}

#CloseButton {
    font-size: medium;
    color: white;
    position: fixed;
    left: 351px;
    background-color: #e2e2e2;
}
#BottomLayer ul {
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 0px;
    margin-bottom: 0px;
}

#BottomLayer ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 4px;
    cursor: pointer;
}

#BottomLayer ul li:nth-child(even) {
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(128, 128, 128);
    transform: translateY(15%);
    border-radius: 50%;
    margin-right: 12px;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
}

#BottomLayer ul li:nth-child(even) .amount{
    transform: translateY(-12%);
    color: white;
}

#BottomLayer ul .inactive {
    color: rgb(197, 197, 197);
}

#BottomLayer ul .inactive li:nth-child(even) {
    background-color: rgb(189, 189, 189);
}

/* Items */
#productlayer {
    flex: 1 1 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

@media only screen and (max-height: 841px) {
    #productlayer {
        flex: 0 0 260px;
    }
}

#BasketItem, #RecommendationItem {
    display: flex;
    border-top: 0.5px solid rgba(185, 185, 185, 0.4);
}

.productImage img{
    flex: 1 1 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(351px/4);
}

.productDetails {
    flex: 1 1 0;
    margin-left: 10px;
    font-size: 0.9rem;
}

#JetztKaufen {
    margin-left: 10px;
    padding: 8px;
    animation: none;
    background-color: #A2BA24;
    cursor: pointer;   
    animation: none;
    transition: none;
    color: white;
}

#ZumProdukt {
    color: #A2BA24;
    background-color: #F3F3F3;
}

.productTitle {
    margin-top: 12px;
}

.CTAs, .productPrice, .productTitle {
    margin-bottom: 10px;
} 

@media only screen and (max-height: 766px) {
    #TopLayerImage {
        flex: 1 1 0;
    }

    #TopLayerImage .WeiterShoppen {
        display: none;
    }
}

@media only screen and (max-height: 690px) {
    #TopLayerImage {
        background: url('./Images/canis\ overlay\ image\ ab\ 635px.png'); 
    }

    #TopLayerImage .WeiterShoppen {
        display: inline-block;
        width:240px;
        left: 57px;
        top: 280px;
    }
}


@media only screen and (max-height: 644px) {
    #TopLayerImage {
        flex: 1 1 0;
        background: url('./Images/canis\ overlay\ image\ ab\ 635px.png'); 
    }

    #TopLayerImage .WeiterShoppen {
        display: none;
    }

}

@media only screen and (max-height: 582px) {
    #TopLayerImage {
        flex: 1 1 0;
        background: url('./Images/canis\ overlay\ image\ ab\ 582px.png'); 
    }

}

@media only screen and (max-height: 535px) {
    #TopLayerImage {
        flex: 1 1 0;
        background: url('./Images/canis\ overlay\ image\ ab\ 500px.png'); 
    }

}